@font-face{ 
	font-family: 'static'; 
	src: url('../fonts/static-webfont.eot'); 
	src: url('../fonts/static-webfont.eot?#iefix') format('embedded-opentype'), 
		url('../fonts/static-webfont.woff') format('woff'), 
		url('../fonts/static-webfont.ttf') format('truetype'), 
		url('../fonts/static-webfont.svg#webfont') format('svg'); 
}
@font-face{ 
	font-family: 'static italic bold'; 
	src: url('../fonts/Static_Bold_Italic.eot'); 
	src: url('../fonts/Static_Bold_Italic.eot?#iefix') format('embedded-opentype'), 
		url('../fonts/Static_Bold_Italic.woff') format('woff'), 
		url('../fonts/Static_Bold_Italic.ttf') format('truetype'), 
		url('../fonts/Static_Bold_Italic.svg#webfont') format('svg'); 
}
@font-face{ 
	font-family: 'swis721 cn bt'; 
	src: url('../fonts/Swis721-Cn-BT-Roman-webfont.eot'); 
	src: url('../fonts/Swis721-Cn-BT-Roman-webfont.eot?#iefix') format('embedded-opentype'), 
		url('../fonts/Swis721-Cn-BT-Roman-webfont.woff') format('woff'), 
		url('../fonts/Swis721-Cn-BT-Roman-webfont.ttf') format('truetype'), 
		url('../fonts/Swis721-Cn-BT-Roman-webfont.svg#webfont') format('svg'); 
}
@font-face{ 
	font-family: 'Swis721 bt'; 
	src: url('../fonts/Swis721-BT-Roman-webfont.eot'); 
	src: url('../fonts/Swis721-BT-Roman-webfont.eot?#iefix') format('embedded-opentype'), 
		url('../fonts/Swis721-BT-Roman-webfont.woff') format('woff'), 
		url('../fonts/Swis721-BT-Roman-webfont.ttf') format('truetype'), 
		url('../fonts/Swis721-BT-Roman-webfont.svg#webfont') format('svg'); 
}

@font-face {
    font-family: "Swis721 Cn BT Bold Italic";
    src: url('../fonts/swiss-cn-bt-bold-italic.eot');
    src: url('../fonts/swiss-cn-bt-bold-italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/swiss-cn-bt-bold-italic.svg#Swis721 Cn BT') format('svg'),
    url('../fonts/swiss-cn-bt-bold-italic.woff') format('woff'),
    url('../fonts/swiss-cn-bt-bold-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{ 
	font-family: 'swisse'; 
	src: url('../fonts/swisse-webfont.eot'); 
	src: url('../fonts/swisse-webfont.eot?#iefix') format('embedded-opentype'), 
		url('../fonts/swisse-webfont.woff') format('woff'), 
		url('../fonts/swisse-webfont.ttf') format('truetype'), 
		url('../fonts/swisse-webfont.svg#webfont') format('svg'); 
}