/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  filter: alpha(opacity=80); }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur{
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #cccccc;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }

.mfp-preloader a {
  color: #cccccc; }

.mfp-preloader a:hover {
  color: white; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  padding: 0;
  z-index: 1046; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: white;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
  .mfp-close:hover, .mfp-close:focus {
    opacity: 1; }
  .mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333333; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
   background-image: url("../images/close.png");
    background-position: 94% 11px;
    background-repeat: no-repeat;
    color: #FFFFFF;
    padding-right: 6px;
    right: -20px;
    text-indent: -99999px;
    top: -4px;
    width: 100%;}

.mfp-counter {
    color: #666666;
    font-size: 11px;
    font-style: italic;
    line-height: 36px;
    position: absolute;
    right: 3px;
    top: 142px;
    width: 50px;}

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

.mfp-arrow:active {
  margin-top: -54px; }

.mfp-arrow:hover,
.mfp-arrow:focus {
  opacity: 1; }

.mfp-arrow:before, .mfp-arrow:after,
.mfp-arrow .mfp-b,
.mfp-arrow .mfp-a {
  content: '';
  display: block;
  width: 53px;
  height: 60px;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent;}
.mfp-arrow:after,
.mfp-arrow .mfp-a {

  top: 8px; }
.mfp-arrow:before,
.mfp-arrow .mfp-b {
}

.mfp-arrow-left {
  left: 0;
  }
  .mfp-arrow-left:after,
  .mfp-arrow-left .mfp-a {
    background-image: url("../images/portfolio-arrow.png");
    background-position: -60px top;
    background-repeat: no-repeat;
    margin-left: 31px;	}
  .mfp-arrow-left:before,
  .mfp-arrow-left .mfp-b {
    margin-left: 25px; }

.mfp-arrow-right {
  right: 0;   
  }
  .mfp-arrow-right:after,
  .mfp-arrow-right .mfp-a {
    background-image: url("../images/portfolio-arrow.png");
    background-position: left top;
    background-repeat: no-repeat;
    margin-left: 0;	}
  .mfp-arrow-right:before,
  .mfp-arrow-right .mfp-b {}

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }

.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }

.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: black; }

.mfp-iframe-holder .mfp-close {
  top: -40px; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 530px;  
  max-height: 580px !important;
  height: auto;
  line-height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow:1px 2px 8px rgba(0, 0, 0, 0.6);
  -moz-box-shadow:1px 2px 8px rgba(0, 0, 0, 0.6);
  box-shadow:1px 2px 8px rgba(0, 0, 0, 0.6);
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure:after {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #444444; }

.mfp-figure {
    background-color: #3E4346;
    display: inline-block;
    height: 662px;
    line-height: 0;
    margin: 10px auto;
    padding: 0;
    text-align: center;
    width: 960px;}
	
.mfp-figure .center {
    display: block;
    float: left;
    padding-bottom: 40px;
    padding-top: 39px;
	height: 662px;
	position: relative;
    width: 576px;}

.mfp-bottom-bar {
    background-color: #F2ECDE;
    cursor: auto;
    float: right;
    height: 100%;
    top: 100%;
    width: 384px;}

.mfp-title {
    background-color: #D46F59;
    color: #F3F3F3;
    display: inline-block;
    float: left;
    font-size: 20.83px;
    font-style: italic;
    font-weight: 700;
    line-height: 18px;
    margin-bottom: 10px;
    padding: 5px 0 0;
    text-align: left;
    width: 100%;
	max-height: 334px;
	word-break: break-word;
}

.mfp-figure .mfp-title p {
    font-size: 16.67px;
    padding-left: 29px;
    padding-top: 5px;
}

.mfp-figure .mfp-title .description_text {
    height: 278px;
	padding: 30px 32px;}

.mfp-figure .mfp-title .description_text p {
    color: #3F4447;
    font-size: 13.5px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5em;
    margin: 0;
    padding: 0;}
	
.mfp-figure .description {
    background-color: #F2ECDE;
    color: #3E4346;
    display: block;
    font-family: 'swis721 cn bt',arial,verdana;
    font-size: 16.67px;
    font-style: normal;
    font-weight: normal;
    line-height: 18px;
    margin-top: 10px;
    width: 100%;
}

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }
  
.owl-carousel .magnificPopup_gallery a.gallery-slide {
    display: none;
	visibility: hidden;}

.owl-carousel .magnificPopup_gallery a.first.gallery-slide {
    display: block;
    visibility: visible;}

.portfolio_item.mix_all .description_portfolio{
	display: none !important;
} 
  
@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
   * Remove all paddings around the image on small screen
   */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }

  .mfp-img-mobile img.mfp-img {
    padding: 0; }

  /* The shadow behind the image */
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }

  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0; }

  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }

  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; }

  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; } }
@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }

  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }

  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }

  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }
.mfp-ie7 .mfp-img {
  padding: 0; }
.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px; }
.mfp-ie7 .mfp-container {
  padding: 0; }
.mfp-ie7 .mfp-content {
  padding-top: 44px; }
.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0; }

  