/** Basic Style**/
.top-header #logo h1, .blocks_inner h3.blocks_title, .wooz_service .services_job td .skill, .wooz_service td.experience, .blocks-works .row p.desc, .wooz_contact .contact-info label, .slide h1.wellcome_line{
	font-family: 'static italic bold',arial,verdana;
	font-style:italic;
	font-weight: 700;
}
.top-header .navbar-nav a, .slide h2.wellcome_line, .wooz_works .portfolio .title strong, .wooz_works .pagination li, .slide span.wellcome_tagline, footer .footer-credits ul, .blocks_inner p.blocks_works, .wooz_contact .contact-info p, .pagination li .pagination-hover {
	font-family: 'swis721 cn bt', arial, verdana;
}
.blocks-works p.blocks_tagline{
	font-family: 'swisse', arial, verdana;
}
.top-header .navbar-nav a, .wooz_works .portfolio .title strong, .wooz_works .pagination li, .mfp-figure .mfp-title p{
    font-family: 'Swis721 Cn BT Bold Italic', arial, verdana;
    font-style: normal;
    font-weight: normal;
}
.slide h2.wellcome_line, .slide span.wellcome_tagline, footer .footer-credits ul, .pagination li .pagination-hover {
	font-style: italic;
	font-weight: normal !important;
}
body {
    background-image: url("images/blocks-bg.png");
    background-repeat: repeat;
}
.container {
    width: 960px;
  }
.wd_line {
    border: 2px solid #f2ecde;
    display: inline-block;
    margin: 20px 0;
    width: 100%;
}
/*------------------------------------*/
/* Header 
/*------------------------------------*/
div#navigation {
    display: block;
    height: 0;
    width: 100%;
}
div#navigation + div {
    padding-top: 96px;
}
header.top-header .navbar-brand {
    font-size: 50px;
    max-height: 96px;
    text-align: center;
    width: 261px;
}
header.top-header div.nav-wrapper {
    margin: 0 auto;
    width: 840px;
}
header.top-header .navbar-brand h1 {
    font-size: 50px;
    line-height: 64px;
    margin: 0;
}
header.top-header .navbar-fixed-top {
    background-color: #3C4144;
    color: #F2ECDE;
    margin: 0 auto;
    max-height: 124px;
    width: 930px;
	z-index: 999;
}
header.top-header{
    margin-bottom: 96px;
}
header.top-header a, header.top-header h1 { color: #f2ecde; }
header.top-header .navbar-nav a {
    border-bottom: 7px solid transparent;
    font-size: 16.67px;
    font-style: normal;
    font-weight: normal;
    line-height: 89px;
    padding: 0;
    text-align: center;
    width: 80px;
	z-index: 99;
}
header.top-header h1 span {
    color: #D46F59;
}
.navbar-nav > li {
    float: left;
}
.nav > li {
    display: block;
    position: relative;
}
/***************************************/
/*		Input Search Button 
/**************************************/
.navbar-nav li.search-box {
    height: auto;
    line-height: 89px;
    margin-left: 70px;
    position: relative;
    width: auto;
}
.navbar-nav div.search-header {
    display: inline-block;
    margin-left: 40px;
    position: absolute;
    right: 0;
	height: 96px;
    width: 500px;
}

.navbar-nav div.search-header .button {
    background-color: transparent;
    background-image: url("images/icon/search-icon.png");
    background-position: center center;
    background-repeat: no-repeat;
    border: medium none;
    height: 35px;    
	left: 469px;
    padding: 0;
    position: relative;
    width: 33px;
	text-indent: -9999px;
}
.navbar-nav .search-header input[type="text"] {
    border: 1px solid #E6E6E6;
    color: #7F8081;
    font-family: 'swis721 cn bt',helvetica,arial,tahoma,verdana,sans-serif;
    font-size: 12.49px;
    font-style: italic;
    padding: 8px 0 8px 26px;
    position: absolute;
    right: 33px;
    top: 27px;
    width: 0;
    z-index: 99;
	display: none
}
/* search box in result page*/
.content-area .navbar-nav .search-header input[type="text"]{
	display: block;
	width: 432px;
}
.content-area .navbar-nav div.search-header {
	z-index: 999;
}
.content-area .navbar-nav .search-header .button{
	background-color: #d46f59;
}
/***************************************/
/*		Intro 
/**************************************/
.shine {
    background: url("images/shine-bg.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 243px;
    left: 23%;
    position: absolute;
    top: 0;
    width: 625px;
	
	opacity: 0.8;
    -moz-opacity: 0.8;
    -webkit-opacity: 0.8;
	
	/* For IE 5-7 */
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}
.content{
	position: relative;
}
.intro {
    display: block;
    height: auto;
    text-align: center;
}
/***************************************/
/*	SLIDER
/**************************************/
#slider {
    margin: 0;
    padding: 0;
}
.slide {
    height: 414px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.slide .caption {
    display: block;
    padding: 20px 0;
    position: relative;
}
.slide .image {
    bottom: 0;
    position: absolute;
}
.slide h1.wellcome_line {
    color: #F2ECDE;
    font-size: 128.2px;
    font-weight: 900;
    margin: 0;
}
.slide h2.wellcome_line {
    color: #2B2F31;
    font-size: 50px;
    margin-bottom: 0;
    text-align: center;
}
.slide span.wellcome_tagline{
	font-size: 28.84px;
	color: #2b2f31;
}
.slide{}
.slide{}
/***************************************/
/*	BLOCKS INT
/**************************************/
.blocks-works-int{
	background-image: url('images/background.png');
	background-repeat: repeat;
	background-color: transparent;
}
/***************************************/
/*	BLOCKS WORKS
/**************************************/
.blocks-works {
    background-color: #34393B;
}
.blocks-works-ink{
	background-image: url('images/blocks-bg.png');
	background-repeat: repeat;
	background-color: transparent;
}
.blocks-works, .blocks-works-ink, .blocks-works-int{
    display: block;
    width: 100%;
}
.blocks-works .blocks_inner, .blocks-works-ink .blocks_inner, .blocks-works-int {
    padding-bottom: 75px;
    padding-top: 120px;
}
.wooz_blocks {
    display: inline-block;
    height: auto;
    position: relative;
    width: 100%;
}
.blocks_inner p.blocks_works{ font-size: 16.67px }
.blocks_inner h3.blocks_title{ font-size: 41.67px}
.wooz_blocks img {
    display: block;
    height: auto;
    width: 100%;
}
/*pagination*/
.pagination {
    display: inline-block;
    text-align: center;
    width: 100%;
}
.pagination ul {
    display: inline-block;
    list-style: none outside none;
    margin: 0 auto;
}
.pagination li {
    float: left;
	position: relative;
	display: block;
}
.pagination li a {
    background-color: #D46F59;
    border-radius: 50% 50% 50% 50%;
    -moz-border-radius: 50% 50% 50% 50%;
    -webkit-border-radius: 50% 50% 50% 50%;
    font-size: 20.83px;
    height: 35px;
    margin-left: 10px;
    width: 35px;
	display: block;
    background-position: center center;
    background-repeat: no-repeat;
	color: #3e4346;
    text-indent: -9999px;
	
}
.pagination li a:active, .pagination li a:focus{
	text-decoration: none;
	outline: none;
} 
.pagination li.first a {
    background-image: url("images/arrow-double-left.png");
}
.pagination li.last a {
    background-image: url("images/arrow-double-right.png");
}
.pagination li.next a {
    background-image: url("images/arrow-right.png");
}
.pagination li.previous a {
    background-image: url("images/arrow-left.png");
}
.pagination li .pagination-hover {
    background-color: #F9C94B;
    bottom: -61px;
    box-shadow: 2px 2px 4px 0 #222222;
    -webkit-box-shadow: 2px 2px 4px 0 #222222;
    -moz-box-shadow: 2px 2px 4px 0 #222222;
    color: #3E4346;
    display: block;
    font-size: 16.67px;
    line-height: 1.1em;
    padding: 5px 8px;
    position: absolute;
    width: 71px;
    left: 20px;
	display:none;
}
.pagination li .pagination-hover:after {
    border-bottom: 12px solid #F9C94B;
    border-left: 3px solid transparent;
    border-right: 7px solid transparent;
    content: " ";
    left: 4px;
    position: absolute;
    top: -11px;
    width: 0;
}
/***************************************/
/*	BLOCKS ABOUT US
/**************************************/
.blocks-works, .wooz_team{ color: #F2ECDE; }
.blocks-works p.blocks_tagline {
    color: #D46F59;
    font-size: 16.67px;
    font-weight: 700;
	display: inline-block;
}
/***************************************/
/*	BLOCKS TEAM
/**************************************/
.wooz_team h3.blocks_title{ 
	font-size: 25px;
	color: #d46f59;
}
.blocks_team_profile p.desc, .blocks_clients_item p.desc {
    margin-top: 10px;
    text-align: center;
	font-size: 16.67px;
}
.blocks_team_profile img {
    height: 164px;
    vertical-align: middle;
    width: 100%;
}
.blocks_team_profile{}
/***************************************/
/*	PORTFOLIO TEAM
/**************************************/
#works .blocks_inner h3.blocks_title{ color: #d46f59; }
.wooz_works .portfolio {
    list-style: none outside none;
    margin-top: 20px;
    padding: 0;
}
.wooz_works .portfolio .col-xs-4 { margin: 4px 0 20px; }
.wooz_works .portfolio .title {
    background-color: #D46F59;
    height: 32px;
    margin: 0;
    padding-bottom: 0;
    padding-left: 21px;
    padding-top: 0;
    width: 100%;
	position: relative;
}
.wooz_works .portfolio .title strong {
    color: #f2ecde;
    display: inline-block;
    line-height: 31px;
    vertical-align: bottom;
	font-size: 16.83px;
}
.wooz_works .portfolio .title .gear {
    background-image: url("images/gear.png");
    bottom: 5px;
    display: block;
    height: 21px;
    position: absolute;
    right: 24px;
    width: 21px;
	
	transition: all 1s ease-in-out;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out; 
	-o-transition: all 1s ease-in-out; 
	-ms-transition: all 1s ease-in-out; 
}
.wooz_works .portfolio .title .gear:hover {
	/* Safari */
	-webkit-transform: rotate(360deg));

	/* Firefox */
	-moz-transform: rotate(360deg);

	/* IE */
	-ms-transform: rotate(360deg);

	/* Opera */
	-o-transform: rotate(360deg);

	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=);
}
.wooz_works .portfolio a.first{ z-index: 99; }
.wooz_works .portfolio .wooz-thumbnail span.roll  {
    background: url("images/portfolio-shadow.png") repeat scroll 0 0 transparent;
    height: 183px;
    position: absolute;
    top: 0;
    width: 100%;
	display: none;
}
.wooz_works .portfolio .wooz-thumbnail span.roll:after {
    background: url("images/plus.png") no-repeat scroll center center transparent;
    content: " ";
    height: 100%;
    position: absolute;
    width: 100%;
}
.wooz_works .portfolio .magnificPopup_video .wooz-thumbnail span.roll:after{
	background:url("images/zoom-video.png") no-repeat scroll center center transparent;
}
.wooz_works .portfolio .wooz-thumbnail div.roll-line {
    background-color: #3E4346;
    box-shadow: 1px 2px 4px 0 #4F4F4F;
    -moz-box-shadow: 1px 2px 4px 0 #4F4F4F;
    -webkit-box-shadow: 1px 2px 4px 0 #4F4F4F;
    color: #F2ECDE;
    display: none;
    font-family: 'swis721 cn bt',halvetica,arial,tahoma,verdana,sans-serif,serir;
    font-size: 16.67px;
    font-style: italic;
    height: 150px;
    left: 30px;
    line-height: 0.7em;
    padding-top: 33px;
    position: absolute;
    text-align: center;
    top: 13px;
    width: 257px;
    z-index: 999;
	display:none;
}
.wooz_works .portfolio .wooz-thumbnail div.roll-line:after {
    border-color: #3E4346 transparent transparent;
    border-style: solid;
    border-width: 18px 1px 18px 26px;
    bottom: -36px;
    content: " ";
    position: absolute;
    right: 23px;
}
.wooz_works .portfolio .wooz-thumbnail div.roll-line:before {
    border-color: #3E4346 transparent transparent;
    border-style: solid;
    border-width: 18px 1px 18px 28px;
    bottom: -37px;
    content: " ";
	
    opacity: 0.65;
    -moz-opacity: 0.65;
    -webkit-opacity: 0.65;
	
	/* For IE 5-7 */
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	
    position: absolute;
    right: 22px;
}
/* for mixitup style */
.wooz_works .portfolio .col-xs-4.mix_all{
	display: none;
	opaicity: 0;
	-moz-opacity: 0;
    -webkit-opacity: 0;
	/* For IE 5-7 */
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
/*category works*/
div.category-works {
    display: inline-block;
    position: relative;
    text-align: center;
    top: 15px;
    width: 100%;
}
div.category-works ul {
    display: inline-block;
    list-style: none outside none;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
div.category-works li {
    float: left;
    margin: 0 10px;
}
div.category-works li.filter {
    background-color: #D46F59;
    color: #F2ECDE;
    display: block;
    font-family: 'static',arial,verdana;
    font-size: 14.97px;
    font-style: italic;
    font-weight: 700;
    padding: 6px 0;
    width: 88px;
}
div.category-works li.filter a{
    color: #F2ECDE;
}
div.category-works li.active {
    background-color: #AF4A34;
}
div.slide-carousel .col-xs-4{ width: 319.99px}
/***************************************/
/*	BLOCKS SERVICE
/**************************************/
.wooz_service .blocks_line p {
    color: #F2ECDE;
}
.wooz_service .services_job {
    display: block;
    height: auto;
    margin-top: 20px;
    width: 100%;
}
.wooz_service .services_job tr {
    display: table;
}
.wooz_service .services_job td .skill {
    background-color: #3E4346;
    color: #3E4346;
    display: block;
    font-size: 20.83px;
    height: 44px;
    line-height: 44px;
    padding: 0;
    width: 858px;
	margin-bottom: 23px;
}
.wooz_service .services_job td .skill .process{
	padding: 0 0 0 30px;
	background-color: #FDECED;
	display: inline-block;
}
.wooz_service td.experience {
    font-size: 25px;
    padding-left: 25px;
    padding-top: 10px;
    vertical-align: top;
}
/***************************************/
/*	BLOCKS CLIENTS
/**************************************/
.blocks_clients_item { margin-top: 20px; }
.blocks_clients_item ul.jcarousel {
    list-style: none outside none;
    padding: 0;
	width: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.blocks_clients_item ul.jcarousel li{}
.blocks_clients_item span.roll {
    background: url("images/portfolio-shadow.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: none;
    height: 154px;
    position: absolute;
    top: 0;
    width: 281px;
}
.blocks_clients_item span.roll:after {
    background: url("images/plus.png") no-repeat scroll center center transparent;
    content: " ";
    height: 159px;
    position: absolute;
    width: 290px;
}
.blocks_clients_item  .col-xs-4 {
    width: 320px;
}
.blocks_clients_item  .col-xs-4 img{
	width: 290px;
	height: 159px;
}
/***************************************/
/*	BLOCKS CONTACT
/**************************************/
.wooz_contact .contact-info label {
    font-size: 20.83px;
    margin-top: 10px;
}
.wooz_contact .contact-info label, .wooz_contact .blocks_title {
	color: #d46f59;
}
.wooz_contact .contact-info p{ font-size: 16.67px }
.wooz_contact #contacts-form input, .wooz_contact #contacts-form textarea{
    background-color: #3E4346;
    border: medium none;
    color: #F2ECDE;
    margin-bottom: 15px;
    padding-left: 10px;
	font-size: 16.83px;
	font-style: italic;
	font-weight: 700;
}
.wooz_contact #contacts-form input{
    width: 324px;
    height: 44px;
}
.wooz_contact #contacts-form input.submit{
    width: 133px;
    height: 45px;
	background-color: #d46f59;
}
.wooz_contact #contacts-form textarea {
    height: 128px;
    padding: 15px;
    width: 450px;
}
/***************************************/
/*	RESULT PAGE
/**************************************/
.result-page-blocks .blocks_inner {
    padding-bottom: 0;
    padding-top: 25px;
}
.page-header {
    margin: 30px 0 20px;
    padding-bottom: 9px;
	border: none;
}
.result-page-blocks .entry {
    color: #2F3436;
    font-family: 'swis721 cn bt',arial,helvetica,tahoma,verdana,sans-serif,serif;
    font-size: 12.5px;
}
.result-page-blocks .entry-title h3 a {
    color: #2F3436;
    font-family: 'swisse';
    font-size: 12.5px;
    font-weight: bold;
}
.result-page-blocks + footer .blocks_inner {
    padding-top: 40px;
}

/***************************************/
/*	ERROR 404
/**************************************/
body.error404 {
    background-image: url("images/background.png");
}
body.error404 #main {
    overflow: hidden;
}
.error-404.not-found {
    position: relative;
    text-align: center;
    width: 100%;
	padding-top: 20px;
}
.error-404.not-found div.page-content .tag_line h1, .error-404.not-found div.page-content footer.line h1, .error-404.not-found footer#footer-404 a.button{
	color: #F2ECDE;
    font-family: 'static italic bold',helvetica,arial,tahoma,sans-serif,verdana,serif;	
    margin: 0;	
	position: relative;
}
.error-404.not-found div.page-content footer.line h1 {
    font-size: 157.46px;
    line-height: 160px;
    position: relative;
}
.error-404.not-found div.page-content .tag_line h1 { font-size: 100.73px;}
.error-404.not-found div.page-content div.line-404 {
	font-family: 'static italic bold',helvetica,arial,tahoma,sans-serif,verdana,serif;
    font-size: 410.46px;
    font-weight: bold;
    line-height: 360px;
}
.error-404.not-found footer#footer-404 {
    display: inline-block;
    height: 100%;
    margin-bottom: 25px;
    margin-top: 25px;
    position: relative;
    padding: 0 16%;
    width: 100%;
}
.error-404.not-found footer#footer-404 a.button {
    background-color: #2F3436;
    float: left;
    font-size: 16.79px;
    padding: 9px 45px;
}
.error-404.not-found footer#footer-404 div.space-or {
    float: left;
    font-family: 'static italic bold',helvetica,arial,tahoma,sans-serif,verdana,serif;
    font-size: 24.79px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    width: 138px;
}
.error-404.not-found footer#footer-404 .search-form {
    display: block;
    float: right;
	position: relative;
}
.error-404.not-found footer#footer-404 .search-form .search {
    border: 1px solid #E6E6E6;
    color: #3b3c3e;
    display: block;
    float: left;
    font-family: 'swis721 cn bt',helvetica,arial,tahoma,verdana,sans-serif;
    font-size: 14.31px;
    font-style: italic;
    padding: 8px 0 8px 26px;
    width: 251px;
    z-index: 99;
}
.error-404.not-found footer#footer-404 .search-form .button {
    background-color: #2F3436;
    background-image: url("images/icon/search-icon.png");
    background-position: center center;
    background-repeat: no-repeat;
    border: medium none;
    height: 37px;
    padding: 0;
    position: relative;
    width: 39px;
}
.error-404.not-found div.line-top, .error-404.not-found div.line-bottom {
    background-color: #2F3436;
    display: inline-block;
    height: 100%;
    left: 49.1%;
    position: absolute;
    width: 43px;
	
	border-radius: 20px 20px 20px 20px;
	-moz-border-radius: 20px 20px 20px 20px;
	-webkit-border-radius: 20px 20px 20px 20px ;
	-o-border-radius: 20px 20px 20px 20px;
}
.error-404.not-found div.line-top{
    bottom: 72%;
		/* Safari */
	-webkit-transform: rotate(-90deg);

	/* Firefox */
	-moz-transform: rotate(-90deg);

	/* IE */
	-ms-transform: rotate(-90deg);

	/* Opera */
	-o-transform: rotate(-90deg);

	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.error-404.not-found div.line-bottom {
    top: 55%;
		/* Safari */
	-webkit-transform: rotate(-90deg);

	/* Firefox */
	-moz-transform: rotate(-90deg);

	/* IE */
	-ms-transform: rotate(-90deg);

	/* Opera */
	-o-transform: rotate(-90deg);

	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

/***************************************/
/*	SINGLE PAGE
/**************************************/
#portfolio-single {
    padding-top: 20px;
}
#portfolio-single{}
.container h1.page-title  {
    color: #D46F59;
    font-family: 'static italic bold',helvetica,arial,tahoma,sans-serif,verdana,serif;
    font-size: 41.67px;
}
.post.entry .entry-content {
    color: #3E4346;
    font-size: 12.5px;
    line-height: 1.5em;
}
.post.entry{}
.post.entry{}
.post.entry .showcase {
    display: block;
    margin: 33px 0 0;
    position: relative;
    text-align: center;
    width: auto;
}
.post.entry .showcase img{
	max-width: 100%;
	height: auto;
}
.post.entry nav.pagination li.previous {
    left: 0;
    position: absolute;
    top: 50%;
}
.post.entry nav.pagination li.next {
    position: absolute;
    right: 0;
    top: 50%;
}
.post.entry nav.pagination li.previous a, .post.entry nav.pagination li.next a {
    background-image: url("images/portfolio-arrow.png");

    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
	
    height: 53px;
    width: 53px;
	margin: 0;
}
.post.entry nav.pagination li.previous a{ background-position: right center; }
.post.entry nav.pagination li.next a{ background-position: left center; }

/***************************************/
/*	COMMENTS
/**************************************/
.comment_portfolio .comment {
    background-color: #D46F59;
    padding: 10px 15px;
}
.comment_portfolio .comment .avatar {
    background-color: #2F3436;
    float: left;
    height: 30px;
    margin-right: 11px;
    text-align: center;
    width: 30px;
}
.comment_portfolio .comment .comment_input {
    background-color: #EAEAEA;
    border: 1px solid #EAEAEA;
    float: left;
    font-size: 12px;
    font-style: italic;
    height: 29px;
    letter-spacing: 0.5px;
    padding: 0 10px;
    position: relative;
    width: 228px;
}
.comment_portfolio .comment .submit {
    background-color: #2F3436;
    border: 1px solid #2F3436;
    color: #FFFFFF;
    float: left;
    font-size: 13px;
    font-style: italic;
    font-weight: bold;
    height: 29px;
    margin-left: 15px;
    width: 53px;
}

.comment_portfolio .comment_list {
    font-size: 11.42px;
    height: 247px;
    list-style: none outside none;
    margin: 0;
    overflow: hidden;
    padding: 7px 0 !important;
    width: 100% !important;
}
.comment_portfolio .comment_list li {
    border-bottom: 1px solid #787878;
    padding: 5px 15px;
    position: relative;
}
.comment_portfolio .comment_list .avatar {
    background-color: #2F3436;
    display: inline-block;
    float: left;
    height: 30px;
    margin-right: 10px;
    text-align: center;
    width: 30px;
}
.comment_portfolio .avatar img,  {
    height: auto;
    width: 25px;
}
.comment_portfolio .comment_list .name {
    color: #D46F59;
    font-size: 12.5px;
    font-weight: bold;
}
.comment_portfolio .comment_list .comment_user {
}
.comment_portfolio .comment_list .date {
    display: inline;
    font-size: 9px;
    font-style: italic;
    font-weight: bold;
    position: absolute;
    right: 14px;
    top: 2px;
}
#portfolio-single footer {
    display: block;
    margin-top: 55px;
    position: relative;
}
#portfolio-single .comment_portfolio .comment .comment_input {
    font-size: 14.95px;
    height: 36px;
    padding: 0 10px;
    width: 83%;
}
#portfolio-single .comment_portfolio ol.comment_list li.user {
    display: inline-block;
    font-family: 'swis721 cn bt',helvetica,arial,tahoma,verdana,sans-serif;
    font-style: italic;
    font-weight: normal;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 9px;
    position: relative;
    width: 100%;
}
#portfolio-single  .comment_portfolio .comment_list .date {
    display: inline;
    font-size: 11.96px;
    right: 77px;
    top: 6px;
}
#portfolio-single .comment_portfolio .comment_user {
    color: #3D3C37;
    font-size: 14.95px;
    padding: 0 40px;
}
#portfolio-single .comment_portfolio .comment .avatar, #portfolio-single  .comment_portfolio .comment_list .avatar {
    height: 36px;
    width: 34px;
}
#portfolio-single .comment_portfolio .comment_list .name {
    color: #D46F59;
    font-size: 17.94px;
    font-weight: bold;
    line-height: 1em;
}
#portfolio-single .comment_portfolio ol.comment_list {
    height: 100%;
    overflow: visible;
}
#portfolio-single .comment_portfolio {}
#portfolio-single .comment_portfolio {}
#portfolio-single .comment_portfolio {}
/***************************************/
/*	FOOTER
/**************************************/
.content-area footer div.blocks_inner{ padding-top: 20px}
footer .container{ padding-bottom: 0 !important}
footer .in_footer {
    background-color: #2B2F31;
    color: #D46F59;
}
footer .footer-credits ul {
    list-style: none outside none;
	font-size: 12.5px
}
footer .footer-credits {
    padding: 35px 0 30px;
    text-align: center;
}

/* Scroll to Top */
#top-link {
    background-image: url("images/scroll-top1.png");
    background-repeat: no-repeat;
    bottom: 8.4%;
    color: #FFFFFF;
    display: none;
    height: 40px;
    position: fixed;
    right: 2%;
    text-align: center;
    text-decoration: none;
    width: 40px;
    z-index: 99;
}

/*sosnet icon */
.sosnet-icon {
    color: #FFFFFF;
    display: inline-block;
    height: 39px;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    width: 100%;
    z-index: 99;
}
.sosnet-icon ul {
    display: inline-block;
    height: 40px;
    left: 0;
    list-style: none outside none;
    margin: 0 auto;
    padding: 0;
    position: relative;
    text-align: center;
    width: auto;
}
.sosnet-icon ul li {
    float: left;
    margin: 0 5px;
    width: 38px;
}
.sosnet-icon li:last-child {
    margin-right: 42px;
}
.sosnet-icon li:first-child{
	margin-left: 42px;
}

.sosnet-icon li a {
    background-color: transparent;
    background-position: 0 -37px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 37px;
    text-indent: -9999px;
    width: 35px;
		
    -webkit-transition: background 150ms linear;
    -moz-transition: background 150ms linear;
    -o-transition: background 150ms linear;
    transition: background 150ms linear;
}
.sosnet-icon li a:hover{
	background-position: 0 0;
	
    -webkit-transition: background 150ms linear;
    -moz-transition: background 150ms linear;
    -o-transition: background 150ms linear;
    transition: background 150ms linear;
}
.sosnet-icon li.facebook a {
    background-image: url("images/icon/facebook-icon.png");
}
.sosnet-icon li.twitter a {
    background-image: url("images/icon/twitter-icon.png");
}
.sosnet-icon li.dribbble a {
    background-image: url("images/icon/dribbble-icon.png");
}
.sosnet-icon li.vimeo a {
    background-image: url("images/icon/vimeo-icon.png");
}
.sosnet-icon li.behance a {
    background-image: url("images/icon/behance-icon.png");
}
.sosnet-icon li.linkedin a {
    background-image: url("images/icon/linkedin-icon.png");
}
.sosnet-icon li.tumblr a {
    background-image: url("images/icon/tumblr-icon.png");
}
.sosnet-icon li.evernote a {
    background-image: url("images/icon/evernote-icon.png");
}
.sosnet-icon li.four-sq a {
    background-image: url("images/icon/4sq-icon.png");
}
.sosnet-icon li.instagram a {
    background-image: url("images/icon/Instagram-icon.png");
}
.sosnet-icon li.wordpress a {
    background-image: url("images/icon/wordpress-icon.png");;
}
.sosnet-icon li.youtube a {
    background-image: url("images/icon/youtube-icon.png");;
}
.sosnet-icon li.rss a {
    background-image: url("images/icon/rss-icon.png");
}
.sosnet-icon li.forrst a {
    background-image: url("images/icon/forrst-icon.png");;
}
.sosnet-icon li.pinterest a {
    background-image: url("images/icon/pinterest-icon.png");;
}
.sosnet-icon li.skype a {
	background-image: url("images/icon/skype-icon.png");;
}
.sosnet-icon li.tumblr a {
    background-image: url("images/icon/tumblr-icon.png");;
}
.sosnet-icon li.github a {
    background-image: url("images/icon/github-icon.png");;
}
.sosnet-icon li.google a {
    background-image: url("images/icon/g-plus-icon.png");;
}



/***************************************/
/*	ScrollCustom Enscroll
/**************************************/  
  #scrollbox3 {
    overflow: auto;
    width: 400px;
    height: 360px;
    padding: 0 5px;
    border: 1px solid #b7b7b7;
}

.track3 {
    width: 10px;
    background: rgba(0, 0, 0, 0);
    margin-right: 2px;
    border-radius: 10px;
    -webkit-transition: background 250ms linear;
    -moz-transition: background 250ms linear;
    -o-transition: background 250ms linear;
    transition: background 250ms linear;
}

.track3:hover,
.track3.dragging {
    background: #d9d9d9; /* Browsers without rgba support */
    background: rgba(0, 0, 0, 0.15);
}

.handle3 {
    width: 7px;
    right: 0;
    background: #999;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 7px;
    -webkit-transition: width 250ms;
    -moz-transition: width 250ms;
    -o-transition: width 250ms;
    transition: width 250ms;
}

.track3:hover .handle3,
.track3.dragging .handle3 {
    width: 10px;
}
