.no-js .da-slide{
	position: relative;
}
.no-js .da-slide.section-1 h2,
.no-js .da-slide.section-1 .caption_line,
.no-js .da-slide.section-1 .da-link,
.no-js .da-slide.section-1 .da-img{
	position: absolute;
	opacity: 1;
	left: 10%;
}
.no-js .da-slide.section-2 h2,
.no-js .da-slide.section-2 .da-link,
.no-js .da-slide.section-2 .da-img{
	position: absolute;
	opacity: 1;
	right: 45%;
}
.no-js .da-slide.section-2 .caption_line{
	position: absolute;
	opacity: 1;
	right: 33%;
}
.no-js .da-slide.section-1 .da-img{
	left: 60%;
}
.no-js .da-slide.section-2 .da-img{
	left: 10%;
}
.no-js .da-dots,
.no-js .da-arrows{
	display: none;
}
