.da-slider{
	width: 100%;
	min-width: 520px;
	height: 400px;
	position: relative;
	overflow: hidden;
	-webkit-transition: background-position 1.4s ease-in-out 0.3s;
	-moz-transition: background-position 1.4s ease-in-out 0.3s;
	-o-transition: background-position 1.4s ease-in-out 0.3s;
	-ms-transition: background-position 1.4s ease-in-out 0.3s;
	transition: background-position 1.4s ease-in-out 0.3s;
}
.da-slide{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	text-align: left;
}
.da-slide-current{
	z-index: 99;
}
.da-slider-fb .da-slide{
	left: 100%;
}
.da-slider-fb  .da-slide.da-slide-current{
	left: 0px;
}
.da-slide h2,
.da-slide p,
.da-slide .da-link,
.da-slide .da-img{
	position: absolute;
	opacity: 0;
	left: 110%;
}
.da-slide h2,
.da-slide .caption_line,
.da-slide .da-link,
.da-slide .da-img{
	position: absolute;
	opacity: 0;
	left: 10%;
}
.da-slide.section-2 .da-link,
.da-slide.section-2 .da-img{
	position: absolute;
	opacity: 0;
	right: 45%;
}
.da-slide.section-2 .caption_line, 
.da-slide.section-2 h2{
	position: absolute;
	opacity: 0;
	right: 33%;
}
.da-slide.section-1 .da-img{
	left: 60%;
}
.da-slide.section-2 .da-img{
	left: 10%;
}
.da-slide h2{
	color: #fff;
	width: 67%;
	top: 60px;
	white-space: nowrap;
	z-index: 10;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	font-weight: 700;
}
.da-slide .caption_line {
    color: #916C05;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    height: 258px;
    line-height: 26px;
    overflow: hidden;
    top: 133px;
    width: 75%;
    z-index: 99;
}
.da-slide .da-img {
    height: 100%;
    left: 110%;
    line-height: 320px;
    text-align: left;
    width: 500px;
	top: 0;
}
.da-slide .da-img.center {
    text-align: center;
    top: 45px;
    width: 960px;
}
.da-slide .da-link{
	top: 270px; /*depends on p height*/
	border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	border: 8px solid rgba(255,255,255,0.8);
	padding: 2px 20px 0px;
	font-size: 18px;
	line-height: 30px;
	width: 80px;
	text-align: center;
	background: rgba(255,255,255,0.2);
}
.da-slide .da-link:hover{
	background: rgba(255,255,255,0.3);
}
.da-dots{
	width: 100%;
	position: absolute;
	text-align: center;
	left: 0px;
	bottom: 20px;
	z-index: 99;
	-moz-user-select: none;
	-webkit-user-select: none;
}
.da-dots span{
	display: inline-block;
	position: relative;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: #e4b42d;
	margin: 3px;
	cursor: pointer;
	background-color: #FFFFFF;
	box-shadow: 
		1px 1px 1px rgba(0,0,0,0.1) inset, 
		1px 1px 1px rgba(255,255,255,0.1);
}
.da-dots span.da-dots-current:after{
	content: '';
	width: 8px;
	height: 8px;
	position: absolute;
	top: 2px;
	left: 2px;
	border-radius: 50%;
	background: #737373;
	
}
.da-arrows{
	-moz-user-select: none;
	-webkit-user-select: none;
}
.da-arrows span {
    cursor: pointer;
    height: 53px;
    opacity: 0;
    position: absolute;
    top: 42%;
    -webkit-transition: opacity 0.4s ease-in-out 0.2s;
    -moz-transition: opacity 0.4s ease-in-out 0.2s;
    -o-transition: opacity 0.4s ease-in-out 0.2s;
    -ms-transition: opacity 0.4s ease-in-out 0.2s;
    transition: opacity 0.4s ease-in-out 0.2s;
    width: 53px;
    z-index: 99;
}
.da-slider:hover .da-arrows span{
	opacity: 1;
}
.da-arrows span:after {
    background: url("images/arrows.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    content: "";
    height: 53px;
    left: 5px;
    position: absolute;
    top: 5px;
    width: 53px;
}

.da-arrows span.da-arrows-next:after{
	background-position: top right;
}
.da-arrows span.da-arrows-next {
    right: 5px;
}
.da-arrows span.da-arrows-prev {
    left: -5px;
}

.da-slide-current.section-1 h2,
.da-slide-current.section-1 .caption_line,
.da-slide-current.section-1 .da-link{
	left: 0%;
	opacity: 1;
}
.da-slide-current.section-1 .da-img{
	left: 60%;
	opacity: 1;
}
/* Animation classes and animations */

/* Slide in from the right*/
.da-slide-fromright.section-1 h2{
	-webkit-animation: fromRightAnim1 0.6s ease-in 0.8s both;
	-moz-animation: fromRightAnim1 0.6s ease-in 0.8s both;
	-o-animation: fromRightAnim1 0.6s ease-in 0.8s both;
	-ms-animation: fromRightAnim1 0.6s ease-in 0.8s both;
	animation: fromRightAnim1 0.6s ease-in 0.8s both;
}
.da-slide-fromright.section-1 .caption_line{
	-webkit-animation: fromRightAnim2 0.6s ease-in 0.8s both;
	-moz-animation: fromRightAnim2 0.6s ease-in 0.8s both;
	-o-animation: fromRightAnim2 0.6s ease-in 0.8s both;
	-ms-animation: fromRightAnim2 0.6s ease-in 0.8s both;
	animation: fromRightAnim2 0.6s ease-in 0.8s both;
}
.da-slide-fromright.section-1 .da-link{
	-webkit-animation: fromRightAnim3 0.4s ease-in 1.2s both;
	-moz-animation: fromRightAnim3 0.4s ease-in 1.2s both;
	-o-animation: fromRightAnim3 0.4s ease-in 1.2s both;
	-ms-animation: fromRightAnim3 0.4s ease-in 1.2s both;
	animation: fromRightAnim3 0.4s ease-in 1.2s both;
}
.da-slide-fromright.section-1 .da-img{
	-webkit-animation: fromRightAnim4 0.6s ease-in 0.8s both;
	-moz-animation: fromRightAnim4 0.6s ease-in 0.8s both;
	-o-animation: fromRightAnim4 0.6s ease-in 0.8s both;
	-ms-animation: fromRightAnim4 0.6s ease-in 0.8s both;
	animation: fromRightAnim4 0.6s ease-in 0.8s both;
}
@-webkit-keyframes fromRightAnim1{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-webkit-keyframes fromRightAnim2{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-webkit-keyframes fromRightAnim3{
	0%{ left: 110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-webkit-keyframes fromRightAnim4{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}

@-moz-keyframes fromRightAnim1{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-moz-keyframes fromRightAnim2{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-moz-keyframes fromRightAnim3{
	0%{ left: 110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-moz-keyframes fromRightAnim4{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}

@-o-keyframes fromRightAnim1{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-o-keyframes fromRightAnim2{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-o-keyframes fromRightAnim3{
	0%{ left: 110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-o-keyframes fromRightAnim4{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}

@-ms-keyframes fromRightAnim1{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-ms-keyframes fromRightAnim2{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-ms-keyframes fromRightAnim3{
	0%{ left: 110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-ms-keyframes fromRightAnim4{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}

@keyframes fromRightAnim1{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@keyframes fromRightAnim2{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@keyframes fromRightAnim3{
	0%{ left: 110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@keyframes fromRightAnim4{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}
/* Slide in from the left*/
.da-slide-fromleft.section-1 h2{
	-webkit-animation: fromLeftAnim1 0.6s ease-in 0.6s both;
	-moz-animation: fromLeftAnim1 0.6s ease-in 0.6s both;
	-o-animation: fromLeftAnim1 0.6s ease-in 0.6s both;
	-ms-animation: fromLeftAnim1 0.6s ease-in 0.6s both;
	animation: fromLeftAnim1 0.6s ease-in 0.6s both;
}
.da-slide-fromleft.section-1 .caption_line{
	-webkit-animation: fromLeftAnim2 0.6s ease-in 0.6s both;
	-moz-animation: fromLeftAnim2 0.6s ease-in 0.6s both;
	-o-animation: fromLeftAnim2 0.6s ease-in 0.6s both;
	-ms-animation: fromLeftAnim2 0.6s ease-in 0.6s both;
	animation: fromLeftAnim2 0.6s ease-in 0.6s both;
}
.da-slide-fromleft.section-1 .da-link{
	-webkit-animation: fromLeftAnim3 0.4s ease-in 1.2s both;
	-moz-animation: fromLeftAnim3 0.4s ease-in 1.2s both;
	-o-animation: fromLeftAnim3 0.4s ease-in 1.2s both;
	-ms-animation: fromLeftAnim3 0.4s ease-in 1.2s both;
	animation: fromLeftAnim3 0.4s ease-in 1.2s both;
}
.da-slide-fromleft.section-1 .da-img{
	-webkit-animation: fromLeftAnim4 0.6s ease-in 0.6s both;
	-moz-animation: fromLeftAnim4 0.6s ease-in 0.6s both;
	-o-animation: fromLeftAnim4 0.6s ease-in 0.6s both;
	-ms-animation: fromLeftAnim4 0.6s ease-in 0.6s both;
	animation: fromLeftAnim4 0.6s ease-in 0.6s both;
}
@-webkit-keyframes fromLeftAnim1{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-webkit-keyframes fromLeftAnim2{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-webkit-keyframes fromLeftAnim3{
	0%{ left: -110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-webkit-keyframes fromLeftAnim4{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}

@-moz-keyframes fromLeftAnim1{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-moz-keyframes fromLeftAnim2{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-moz-keyframes fromLeftAnim3{
	0%{ left: -110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-moz-keyframes fromLeftAnim4{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}

@-o-keyframes fromLeftAnim1{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-o-keyframes fromLeftAnim2{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-o-keyframes fromLeftAnim3{
	0%{ left: -110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-o-keyframes fromLeftAnim4{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}

@-ms-keyframes fromLeftAnim1{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-ms-keyframes fromLeftAnim2{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-ms-keyframes fromLeftAnim3{
	0%{ left: -110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-ms-keyframes fromLeftAnim4{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}

@keyframes fromLeftAnim1{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@keyframes fromLeftAnim2{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@keyframes fromLeftAnim3{
	0%{ left: -110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@keyframes fromLeftAnim4{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}
/* Slide out to the right */
.da-slide-toright.section-1 h2{
	-webkit-animation: toRightAnim1 0.6s ease-in 0.6s both;
	-moz-animation: toRightAnim1 0.6s ease-in 0.6s both;
	-o-animation: toRightAnim1 0.6s ease-in 0.6s both;
	-ms-animation: toRightAnim1 0.6s ease-in 0.6s both;
	animation: toRightAnim1 0.6s ease-in 0.6s both;
}
.da-slide-toright.section-1 .caption_line{
	-webkit-animation: toRightAnim2 0.6s ease-in 0.3s both;
	-moz-animation: toRightAnim2 0.6s ease-in 0.3s both;
	-o-animation: toRightAnim2 0.6s ease-in 0.3s both;
	-ms-animation: toRightAnim2 0.6s ease-in 0.3s both;
	animation: toRightAnim2 0.6s ease-in 0.3s both;
}
.da-slide-toright.section-1 .da-link{
	-webkit-animation: toRightAnim3 0.4s ease-in both;
	-moz-animation: toRightAnim3 0.4s ease-in both;
	-o-animation: toRightAnim3 0.4s ease-in both;
	-ms-animation: toRightAnim3 0.4s ease-in both;
	animation: toRightAnim3 0.4s ease-in both;
}
.da-slide-toright.section-1 .da-img{
	-webkit-animation: toRightAnim4 0.6s ease-in both;
	-moz-animation: toRightAnim4 0.6s ease-in both;
	-o-animation: toRightAnim4 0.6s ease-in both;
	-ms-animation: toRightAnim4 0.6s ease-in both;
	animation: toRightAnim4 0.6s ease-in both;
}
@-webkit-keyframes toRightAnim1{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-webkit-keyframes toRightAnim2{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-webkit-keyframes toRightAnim3{
	0%{ left: 10%;  opacity: 1; }
	99%{ left: 10%; opacity: 0; }
	100%{ left: 100%; opacity: 0; }
}
@-webkit-keyframes toRightAnim4{
	0%{ left: 60%;  opacity: 1; }
	30%{ left: 55%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}

@-moz-keyframes toRightAnim1{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-moz-keyframes toRightAnim2{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-moz-keyframes toRightAnim3{
	0%{ left: 10%;  opacity: 1; }
	99%{ left: 10%; opacity: 0; }
	100%{ left: 100%; opacity: 0; }
}
@-moz-keyframes toRightAnim4{
	0%{ left: 60%;  opacity: 1; }
	30%{ left: 55%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}

@-o-keyframes toRightAnim1{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-o-keyframes toRightAnim2{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-o-keyframes toRightAnim3{
	0%{ left: 10%;  opacity: 1; }
	99%{ left: 10%; opacity: 0; }
	100%{ left: 100%; opacity: 0; }
}
@-o-keyframes toRightAnim4{
	0%{ left: 60%;  opacity: 1; }
	30%{ left: 55%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}

@-ms-keyframes toRightAnim1{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-ms-keyframes toRightAnim2{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-ms-keyframes toRightAnim3{
	0%{ left: 10%;  opacity: 1; }
	99%{ left: 10%; opacity: 0; }
	100%{ left: 100%; opacity: 0; }
}
@-ms-keyframes toRightAnim4{
	0%{ left: 60%;  opacity: 1; }
	30%{ left: 55%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}

@keyframes toRightAnim1{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@keyframes toRightAnim2{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@keyframes toRightAnim3{
	0%{ left: 10%;  opacity: 1; }
	99%{ left: 10%; opacity: 0; }
	100%{ left: 100%; opacity: 0; }
}
@keyframes toRightAnim4{
	0%{ left: 60%;  opacity: 1; }
	30%{ left: 55%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
/* Slide out to the left*/
.da-slide-toleft.section-1 h2{
	-webkit-animation: toLeftAnim1 0.6s ease-in both;
	-moz-animation: toLeftAnim1 0.6s ease-in both;
	-o-animation: toLeftAnim1 0.6s ease-in both;
	-ms-animation: toLeftAnim1 0.6s ease-in both;
	animation: toLeftAnim1 0.6s ease-in both;
}
.da-slide-toleft.section-1 .caption_line{
	-webkit-animation: toLeftAnim2 0.6s ease-in 0.3s both;
	-moz-animation: toLeftAnim2 0.6s ease-in 0.3s both;
	-o-animation: toLeftAnim2 0.6s ease-in 0.3s both;
	-ms-animation: toLeftAnim2 0.6s ease-in 0.3s both;
	animation: toLeftAnim2 0.6s ease-in 0.3s both;
}
.da-slide-toleft.section-1 .da-link{
	-webkit-animation: toLeftAnim3 0.4s ease-in both;
	-moz-animation: toLeftAnim3 0.4s ease-in both;
	-o-animation: toLeftAnim3 0.4s ease-in both;
	-ms-animation: toLeftAnim3 0.4s ease-in both;
	animation: toLeftAnim3 0.4s ease-in both;
}
.da-slide-toleft.section-1 .da-img{
	-webkit-animation: toLeftAnim4 0.6s ease-in 0.6s both;
	-moz-animation: toLeftAnim4 0.6s ease-in 0.6s both;
	-o-animation: toLeftAnim4 0.6s ease-in 0.6s both;
	-ms-animation: toLeftAnim4 0.6s ease-in 0.6s both;
	animation: toLeftAnim4 0.6s ease-in 0.6s both;
}
@-webkit-keyframes toLeftAnim1{
	0%{ left: 0%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-webkit-keyframes toLeftAnim2{
	0%{ left: 0%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-webkit-keyframes toLeftAnim3{
	0%{ left: 0%;  opacity: 1; }
	99%{ left: 10%; opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}
@-webkit-keyframes toLeftAnim4{
	0%{ left: 60%;  opacity: 1; }
	40%{ left: 70%;  opacity: 1; }
	90%{ left: 0%;  opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}

@-moz-keyframes toLeftAnim1{
	0%{ left: 0%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-moz-keyframes toLeftAnim2{
	0%{ left: 0%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-moz-keyframes toLeftAnim3{
	0%{ left: 0%;  opacity: 1; }
	99%{ left: 10%; opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}
@-moz-keyframes toLeftAnim4{
	0%{ left: 60%;  opacity: 1; }
	40%{ left: 70%;  opacity: 1; }
	90%{ left: 0%;  opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}

@-o-keyframes toLeftAnim1{
	0%{ left: 0%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-o-keyframes toLeftAnim2{
	0%{ left: 0%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-o-keyframes toLeftAnim3{
	0%{ left: 0%;  opacity: 1; }
	99%{ left: 10%; opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}
@-o-keyframes toLeftAnim4{
	0%{ left: 60%;  opacity: 1; }
	40%{ left: 70%;  opacity: 1; }
	90%{ left: 0%;  opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}

@-ms-keyframes toLeftAnim1{
	0%{ left: 0%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-ms-keyframes toLeftAnim2{
	0%{ left: 0%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-ms-keyframes toLeftAnim3{
	0%{ left: 0%;  opacity: 1; }
	99%{ left: 10%; opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}
@-ms-keyframes toLeftAnim4{
	0%{ left: 60%;  opacity: 1; }
	40%{ left: 70%;  opacity: 1; }
	90%{ left: 0%;  opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}

@keyframes toLeftAnim1{
	0%{ left: 0%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@keyframes toLeftAnim2{
	0%{ left: 0%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@keyframes toLeftAnim3{
	0%{ left: 0%;  opacity: 1; }
	99%{ left: 10%; opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}
@keyframes toLeftAnim4{
	0%{ left: 60%;  opacity: 1; }
	40%{ left: 70%;  opacity: 1; }
	90%{ left: 0%;  opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}

/****************************************
*		SLIDER CUSTOM STYLE
*****************************************/
.da-slide-current.section-2 .da-link {
    left: 45%;
    opacity: 1;
}
.da-slide-current.section-2 .caption_line, .da-slide-current.section-2 h2{
	left: 33%;
    opacity: 1;
}
.da-slide-current.section-2 .da-img {
    left: 0%;
    opacity: 1;
}

/* Animation classes and animations */
/* Slide in from the right*/
.da-slide-fromright.section-2 h2{
	-webkit-animation: two-fromRightAnim1 0.6s ease-in 0.8s both;
	-moz-animation: two-fromRightAnim1 0.6s ease-in 0.8s both;
	-o-animation: two-fromRightAnim1 0.6s ease-in 0.8s both;
	-ms-animation: two-fromRightAnim1 0.6s ease-in 0.8s both;
	animation: two-fromRightAnim1 0.6s ease-in 0.8s both;
}
.da-slide-fromright.section-2 .caption_line{
	-webkit-animation: two-fromRightAnim2 0.6s ease-in 0.8s both;
	-moz-animation: two-fromRightAnim2 0.6s ease-in 0.8s both;
	-o-animation: two-fromRightAnim2 0.6s ease-in 0.8s both;
	-ms-animation: two-fromRightAnim2 0.6s ease-in 0.8s both;
	animation: two-fromRightAnim2 0.6s ease-in 0.8s both;
}
.da-slide-fromright.section-2 .da-link{
	-webkit-animation: two-fromRightAnim3 0.4s ease-in 1.2s both;
	-moz-animation: two-fromRightAnim3 0.4s ease-in 1.2s both;
	-o-animation: two-fromRightAnim3 0.4s ease-in 1.2s both;
	-ms-animation: two-fromRightAnim3 0.4s ease-in 1.2s both;
	animation: two-fromRightAnim3 0.4s ease-in 1.2s both;
}
.da-slide-fromright.section-2 .da-img{
	-webkit-animation: two-fromRightAnim4 0.6s ease-in 0.8s both;
	-moz-animation: two-fromRightAnim4 0.6s ease-in 0.8s both;
	-o-animation: two-fromRightAnim4 0.6s ease-in 0.8s both;
	-ms-animation: two-fromRightAnim4 0.6s ease-in 0.8s both;
	animation: two-fromRightAnim4 0.6s ease-in 0.8s both;
}
@-webkit-keyframes two-fromRightAnim1{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 33%; opacity: 1; }
}
@-webkit-keyframes two-fromRightAnim2{
	0%{ left: 110%; opacity: 0; }
	1%{ left: 65%; opacity: 0; }
	100%{ left: 33%; opacity: 1; }
}
@-webkit-keyframes two-fromRightAnim3{
	0%{ left: 110%; opacity: 0; }
	1%{ left: 55%; opacity: 0; }
	100%{ left: 45%; opacity: 1; }
}
@-webkit-keyframes two-fromRightAnim4{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 0%; opacity: 1; }
}

@-moz-keyframes two-fromRightAnim1{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 33%; opacity: 1; }
}
@-moz-keyframes two-fromRightAnim2{
	0%{ left: 110%; opacity: 0; }
	1%{ left: 65%; opacity: 0; }
	100%{ left: 33%; opacity: 1; }
}
@-moz-keyframes two-fromRightAnim3{
	0%{ left: 110%; opacity: 0; }
	1%{ left: 55%; opacity: 0; }
	100%{ left: 45%; opacity: 1; }
}
@-moz-keyframes two-fromRightAnim4{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 0%; opacity: 1; }
}

@-o-keyframes two-fromRightAnim1{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 33%; opacity: 1; }
}
@-o-keyframes two-fromRightAnim2{
	0%{ left: 110%; opacity: 0; }
	1%{ left: 65%; opacity: 0; }
	100%{ left: 33%; opacity: 1; }
}
@-o-keyframes two-fromRightAnim3{
	0%{ left: 110%; opacity: 0; }
	1%{ left: 55%; opacity: 0; }
	100%{ left: 45%; opacity: 1; }
}
@-o-keyframes two-fromRightAnim4{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 0%; opacity: 1; }
}

@-ms-keyframes two-fromRightAnim1{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 33%; opacity: 1; }
}
@-ms-keyframes two-fromRightAnim2{
	0%{ left: 110%; opacity: 0; }
	1%{ left: 65%; opacity: 0; }
	100%{ left: 33%; opacity: 1; }
}
@-ms-keyframes two-fromRightAnim3{
	0%{ left: 110%; opacity: 0; }
	1%{ left: 55%; opacity: 0; }
	100%{ left: 45%; opacity: 1; }
}
@-ms-keyframes two-fromRightAnim4{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 0%; opacity: 1; }
}

@keyframes two-fromRightAnim1{
	0%{ left: 110%; opacity: 0; }
	1%{ left: 65%; opacity: 0; }
	100%{ left: 33%; opacity: 1; }
}
@keyframes two-fromRightAnim2{
	0%{ left: 110%; opacity: 0; }
	1%{ left: 65%; opacity: 0; }
	100%{ left: 33%; opacity: 1; }
}
@keyframes two-fromRightAnim3{
	0%{ left: 110%; opacity: 0; }
	1%{ left: 55%; opacity: 0; }
	100%{ left: 45%; opacity: 1; }
}
@keyframes two-fromRightAnim4{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 0%; opacity: 1; }
}
/* Slide in from the left*/
.da-slide-fromleft.section-2 h2{
	-webkit-animation: two-fromLeftAnim1 0.6s ease-in 0.6s both;
	-moz-animation: two-fromLeftAnim1 0.6s ease-in 0.6s both;
	-o-animation: two-fromLeftAnim1 0.6s ease-in 0.6s both;
	-ms-animation: two-fromLeftAnim1 0.6s ease-in 0.6s both;
	animation: two-fromLeftAnim1 0.6s ease-in 0.6s both;
}
.da-slide-fromleft.section-2 .caption_line{
	-webkit-animation: two-fromLeftAnim2 0.6s ease-in 0.6s both;
	-moz-animation: two-fromLeftAnim2 0.6s ease-in 0.6s both;
	-o-animation: two-fromLeftAnim2 0.6s ease-in 0.6s both;
	-ms-animation: two-fromLeftAnim2 0.6s ease-in 0.6s both;
	animation: two-fromLeftAnim2 0.6s ease-in 0.6s both;
}
.da-slide-fromleft.section-2 .da-link{
	-webkit-animation: two-fromLeftAnim3 0.4s ease-in 1.2s both;
	-moz-animation: two-fromLeftAnim3 0.4s ease-in 1.2s both;
	-o-animation: two-fromLeftAnim3 0.4s ease-in 1.2s both;
	-ms-animation: two-fromLeftAnim3 0.4s ease-in 1.2s both;
	animation: two-fromLeftAnim3 0.4s ease-in 1.2s both;
}
.da-slide-fromleft.section-2 .da-img{
	-webkit-animation: two-fromLeftAnim4 0.6s ease-in 0.6s both;
	-moz-animation: two-fromLeftAnim4 0.6s ease-in 0.6s both;
	-o-animation: two-fromLeftAnim4 0.6s ease-in 0.6s both;
	-ms-animation: two-fromLeftAnim4 0.6s ease-in 0.6s both;
	animation: two-fromLeftAnim4 0.6s ease-in 0.6s both;
}
@-webkit-keyframes two-fromLeftAnim1{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 33%; opacity: 1; }
}
@-webkit-keyframes two-fromLeftAnim2{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 33%; opacity: 1; }
}
@-webkit-keyframes two-fromLeftAnim3{
	0%{ left: -110%; opacity: 0; }
	1%{ left: 50%; opacity: 0; }
	100%{ left: 45%; opacity: 1; }
}
@-webkit-keyframes two-fromLeftAnim4{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 0%; opacity: 1; }
}

@-moz-keyframes two-fromLeftAnim1{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 33%; opacity: 1; }
}
@-moz-keyframes two-fromLeftAnim2{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 33%; opacity: 1; }
}
@-moz-keyframes two-fromLeftAnim3{
	0%{ left: -110%; opacity: 0; }
	1%{ left: 50%; opacity: 0; }
	100%{ left: 45%; opacity: 1; }
}
@-moz-keyframes two-fromLeftAnim4{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 0%; opacity: 1; }
}

@-o-keyframes two-fromLeftAnim1{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 33%; opacity: 1; }
}
@-o-keyframes two-fromLeftAnim2{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 33%; opacity: 1; }
}
@-o-keyframes two-fromLeftAnim3{
	0%{ left: -110%; opacity: 0; }
	1%{ left: 50%; opacity: 0; }
	100%{ left: 45%; opacity: 1; }
}
@-o-keyframes two-fromLeftAnim4{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 0%; opacity: 1; }
}

@-ms-keyframes two-fromLeftAnim1{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 33%; opacity: 1; }
}
@-ms-keyframes two-fromLeftAnim2{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 33%; opacity: 1; }
}
@-ms-keyframes two-fromLeftAnim3{
	0%{ left: -110%; opacity: 0; }
	1%{ left: 50%; opacity: 0; }
	100%{ left: 45%; opacity: 1; }
}
@-ms-keyframes two-fromLeftAnim4{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 0%; opacity: 1; }
}

@keyframes two-fromLeftAnim1{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 33%; opacity: 1; }
}
@keyframes two-fromLeftAnim2{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 33%; opacity: 1; }
}
@keyframes two-fromLeftAnim3{
	0%{ left: -110%; opacity: 0; }
	1%{ left: 50%; opacity: 0; }
	100%{ left: 45%; opacity: 1; }
}
@keyframes two-fromLeftAnim4{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 0%; opacity: 1; }
}
/* Slide out to the right */
.da-slide-toright.section-2 h2{
	-webkit-animation: two-toRightAnim1 0.6s ease-in 0.6s both;
	-moz-animation: two-toRightAnim1 0.6s ease-in 0.6s both;
	-o-animation: two-toRightAnim1 0.6s ease-in 0.6s both;
	-ms-animation: two-toRightAnim1 0.6s ease-in 0.6s both;
	animation: two-toRightAnim1 0.6s ease-in 0.6s both;
}
.da-slide-toright.section-2 .caption_line{
	-webkit-animation: two-toRightAnim2 0.6s ease-in 0.3s both;
	-moz-animation: two-toRightAnim2 0.6s ease-in 0.3s both;
	-o-animation: two-toRightAnim2 0.6s ease-in 0.3s both;
	-ms-animation: two-toRightAnim2 0.6s ease-in 0.3s both;
	animation: two-toRightAnim2 0.6s ease-in 0.3s both;
}
.da-slide-toright.section-2 .da-link{
	-webkit-animation: two-toRightAnim3 0.4s ease-in both;
	-moz-animation: two-toRightAnim3 0.4s ease-in both;
	-o-animation: two-toRightAnim3 0.4s ease-in both;
	-ms-animation: two-toRightAnim3 0.4s ease-in both;
	animation: two-toRightAnim3 0.4s ease-in both;
}
.da-slide-toright.section-2 .da-img{
	-webkit-animation: two-toRightAnim4 0.6s ease-in both;
	-moz-animation: two-toRightAnim4 0.6s ease-in both;
	-o-animation: two-toRightAnim4 0.6s ease-in both;
	-ms-animation: two-toRightAnim4 0.6s ease-in both;
	animation: two-toRightAnim4 0.6s ease-in both;
}
@-webkit-keyframes two-toRightAnim1{
	0%{ left: 33%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-webkit-keyframes two-toRightAnim2{
	0%{ left: 33%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-webkit-keyframes two-toRightAnim3{
	0%{ left: 45%;  opacity: 1; }
	30%{ left: 50%; opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-webkit-keyframes two-toRightAnim4{
	0%{ left: 0%;  opacity: 1; }
	99%{ left: 0%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}

@-moz-keyframes two-toRightAnim1{
	0%{ left: 33%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-moz-keyframes two-toRightAnim2{
	0%{ left: 33%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-moz-keyframes two-toRightAnim3{
	0%{ left: 45%;  opacity: 1; }
	30%{ left: 50%; opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-moz-keyframes two-toRightAnim4{
	0%{ left: 0%;  opacity: 1; }
	99%{ left: 0%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}

@-o-keyframes two-toRightAnim1{
	0%{ left: 33%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-o-keyframes two-toRightAnim2{
	0%{ left: 33%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-o-keyframes two-toRightAnim3{
	0%{ left: 45%;  opacity: 1; }
	30%{ left: 50%; opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-o-keyframes two-toRightAnim4{
	0%{ left: 0%;  opacity: 1; }
	99%{ left: 0%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}

@-ms-keyframes two-toRightAnim1{
	0%{ left: 33%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-ms-keyframes two-toRightAnim2{
	0%{ left: 33%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-ms-keyframes two-toRightAnim3{
	0%{ left: 45%;  opacity: 1; }
	30%{ left: 50%; opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-ms-keyframes two-toRightAnim4{
	0%{ left: 0%;  opacity: 1; }
	99%{ left: 0%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}

@keyframes two-toRightAnim1{
	0%{ left: 33%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@keyframes two-toRightAnim2{
	0%{ left: 33%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@keyframes two-toRightAnim3{
	0%{ left: 45%;  opacity: 1; }
	30%{ left: 50%; opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@keyframes two-toRightAnim4{
	0%{ left: 0%;  opacity: 1; }
	99%{ left: 0%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
/* slide2 Slide out to the left*/
.da-slide-toleft.section-2 h2{
	-webkit-animation: two-toLeftAnim1 0.6s ease-in both;
	-moz-animation: two-toLeftAnim1 0.6s ease-in both;
	-o-animation: two-toLeftAnim1 0.6s ease-in both;
	-ms-animation: two-toLeftAnim1 0.6s ease-in both;
	animation: two-toLeftAnim1 0.6s ease-in both;
}
.da-slide-toleft.section-2 .caption_line{
	-webkit-animation: two-toLeftAnim2 0.6s ease-in 0.3s both;
	-moz-animation: two-toLeftAnim2 0.6s ease-in 0.3s both;
	-o-animation: two-toLeftAnim2 0.6s ease-in 0.3s both;
	-ms-animation: two-toLeftAnim2 0.6s ease-in 0.3s both;
	animation: two-toLeftAnim2 0.6s ease-in 0.3s both;
}
.da-slide-toleft.section-2  .da-link{
	-webkit-animation: two-toLeftAnim3 0.4s ease-in both;
	-moz-animation: two-toLeftAnim3 0.4s ease-in both;
	-o-animation: two-toLeftAnim3 0.4s ease-in both;
	-ms-animation: two-toLeftAnim3 0.4s ease-in both;
	animation: two-toLeftAnim3 0.4s ease-in both;
}
.da-slide-toleft.section-2  .da-img{
	-webkit-animation: two-toLeftAnim4 0.6s ease-in 0.6s both;
	-moz-animation: two-toLeftAnim4 0.6s ease-in 0.6s both;
	-o-animation: two-toLeftAnim4 0.6s ease-in 0.6s both;
	-ms-animation: two-toLeftAnim4 0.6s ease-in 0.6s both;
	animation: two-toLeftAnim4 0.6s ease-in 0.6s both;
}

@-webkit-keyframes two-toLeftAnim1{
	0%{ left: 33%;  opacity: 1; }
	40%{ left: 60%;  opacity: 1; }
	90%{ left: 0%;  opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}
@-webkit-keyframes two-toLeftAnim2{
	0%{ left: 33%;  opacity: 1; }
	40%{ left: 60%;  opacity: 1; }
	90%{ left: 0%;  opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}
@-webkit-keyframes two-toLeftAnim3{
	0%{ left: 45%;  opacity: 1; }
	40%{ left: 60%;  opacity: 1; }
	90%{ left: 0%;  opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}
@-webkit-keyframes two-toLeftAnim4{
	0%{ left: 0%;  opacity: 1; }
	99%{ left: 0%; opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}

@-moz-keyframes two-toLeftAnim1{
	0%{ left: 33%;  opacity: 1; }
	40%{ left: 60%;  opacity: 1; }
	90%{ left: 0%;  opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}
@-moz-keyframes two-toLeftAnim2{
	0%{ left: 33%;  opacity: 1; }
	40%{ left: 60%;  opacity: 1; }
	90%{ left: 0%;  opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}
@-moz-keyframes two-toLeftAnim3{
	0%{ left: 45%;  opacity: 1; }
	40%{ left: 60%;  opacity: 1; }
	90%{ left: 0%;  opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}
@-moz-keyframes two-toLeftAnim4{
	0%{ left: 0%;  opacity: 1; }
	99%{ left: 0%; opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}

@-o-keyframes two-toLeftAnim1{
	0%{ left: 33%;  opacity: 1; }
	40%{ left: 60%;  opacity: 1; }
	90%{ left: 0%;  opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}
@-o-keyframes two-toLeftAnim2{
	0%{ left: 33%;  opacity: 1; }
	40%{ left: 60%;  opacity: 1; }
	90%{ left: 0%;  opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}
@-o-keyframes two-toLeftAnim3{
	0%{ left: 45%;  opacity: 1; }
	40%{ left: 60%;  opacity: 1; }
	90%{ left: 0%;  opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}
@-o-keyframes two-toLeftAnim4{
	0%{ left: 0%;  opacity: 1; }
	99%{ left: 0%; opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}

@-ms-keyframes two-toLeftAnim1{
	0%{ left: 33%;  opacity: 1; }
	40%{ left: 60%;  opacity: 1; }
	90%{ left: 0%;  opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}
@-ms-keyframes two-toLeftAnim2{
	0%{ left: 33%;  opacity: 1; }
	40%{ left: 60%;  opacity: 1; }
	90%{ left: 0%;  opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}
@-ms-keyframes two-toLeftAnim3{
	0%{ left: 45%;  opacity: 1; }
	40%{ left: 60%;  opacity: 1; }
	90%{ left: 0%;  opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}
@-ms-keyframes two-toLeftAnim4{
	0%{ left: 0%;  opacity: 1; }
	99%{ left: 0%; opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}

@keyframes two-toLeftAnim1{
	0%{ left: 33%;  opacity: 1; }
	40%{ left: 60%;  opacity: 1; }
	90%{ left: 0%;  opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}
@keyframes two-toLeftAnim2{
	0%{ left: 33%;  opacity: 1; }
	40%{ left: 60%;  opacity: 1; }
	90%{ left: 0%;  opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}
@keyframes two-toLeftAnim3{
	0%{ left: 45%;  opacity: 1; }
	40%{ left: 60%;  opacity: 1; }
	90%{ left: 0%;  opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}
@keyframes two-toLeftAnim4{
	0%{ left: 0%;  opacity: 1; }
	99%{ left: 0%; opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}